body {
  background-color: #04818b;
  color: white;
}

img.grpc-logo {
  padding: 54px 280px 0px 0px;
  background: url('https://www.infrontfinance.com/dist/images/Infront_logo.png');
  background-size: auto;
  width: 0;
  height: 0;
}

.heading {
  color: #00374f;
}

#grpc-request-response {
  background-color: gainsboro;
}

.grpc-desc button#grpc-descriptions-toggle, .grpc-desc select {
  color: black;
}
